//Reset default styles elements
ul, li {
 padding: 0;
 margin: 0;
 list-style: none;
}

a {
 text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: bold;
}

b {
 font-weight: 600;
}
