//added for Perfect Pixel (1920px container)
::-webkit-scrollbar {
 width: 0;
}

//Vertical justify items body (footer align bottom)
.main-wrapper {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 min-height: 100vh;
}

//Rating component

:root {
 --star-size: 22px;
 --star-color: rgba(255, 168, 0, 0.5);
 --star-background: #FFA800;
}

.rating {
 display: flex;
 align-items: center;

 &__stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;

  &::before {
   content: '★★★★★';
   letter-spacing: 3px;
   background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
 }

 &__count {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: $primary-dark;
  margin-left: 8px;
  position: relative;

  &::before {
   content: '';
   background: rgba($secondary-color, 0.5);
   width: 100%;
   height: 1px;
   position: absolute;
   bottom: 0;
   left: 0;
  }
 }
}
